body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #141215;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #e90f6d;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Allows wrapping for smaller screens */
}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #fff; /* Ensures the title is visible against the navbar background */
}

.navbar .links {
  display: flex;
  gap: 15px;
}

.navbar .links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navbar .links a:hover {
  color: #61dafb;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: white;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

p {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

form {
  width: 300px;
  margin: auto;
}

form label {
  display: block;
  margin: 10px 0 5px;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #555;
}